---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import ProjectCard from "../../../components/ProjectCard.astro";

export async function getStaticPaths() {
	const allPosts = (await Astro.glob("../*.md")).sort(
		(a, b) => new Date(b.frontmatter.date) - new Date(a.frontmatter.date)
	);

	const uniqueTags = [
		...new Set(
			allPosts
				.map(
					(post: { frontmatter: { tags: any } }) =>
						post.frontmatter.tags
				)
				.flat()
		),
	];

	return uniqueTags.map((tag: any) => {
		const filteredPosts = allPosts.filter(
			(post: { frontmatter: { tags: string | any[] } }) =>
				post.frontmatter.tags.includes(tag)
		);
		return {
			params: { tag },
			props: { posts: filteredPosts },
		};
	});
}

const { tag } = Astro.params;
const {
	posts,
}: {
	posts: {
		url: string;
		frontmatter: {
			title: string;
			desc: string;
			date: string;
			url: string;
			tags: string[];
			imagePath: string;
			imageAlt: string;
			accentColor: string;
		};
	}[];
} = Astro.props;
const filteredPosts = posts.filter((post) =>
	post.frontmatter.tags?.includes(tag)
);
---

<BaseLayout pageTitle={tag}>
	<section class="sm:w-[--full-w] lg:w-[--two-thirds-w] place-self-center">
		<div class="pb-4">
			<a
				href="javascript:void(0);"
				onclick="history.back()"
				class="inline"
			>
				<svg
					class=`nav-arrow inline h-5 w-min transition-colors duration-300 cursor-pointer fill-foreground/50 hover:fill-foreground/100 mr-[calc(var(--guide-gutter)/2)] mb-[4px]`
					viewBox="0 0 492 492"
				>
					<g>
						<g>
							<path
								d="M464.344,207.418l0.768,0.168H135.888l103.496-103.724c5.068-5.064,7.848-11.924,7.848-19.124
			c0-7.2-2.78-14.012-7.848-19.088L223.28,49.538c-5.064-5.064-11.812-7.864-19.008-7.864c-7.2,0-13.952,2.78-19.016,7.844
			L7.844,226.914C2.76,231.998-0.02,238.77,0,245.974c-0.02,7.244,2.76,14.02,7.844,19.096l177.412,177.412
			c5.064,5.06,11.812,7.844,19.016,7.844c7.196,0,13.944-2.788,19.008-7.844l16.104-16.112c5.068-5.056,7.848-11.808,7.848-19.008
			c0-7.196-2.78-13.592-7.848-18.652L134.72,284.406h329.992c14.828,0,27.288-12.78,27.288-27.6v-22.788
			C492,219.198,479.172,207.418,464.344,207.418z"
							></path>
						</g>
					</g>
				</svg>
			</a>
			<p class="inline">
				Posts tagged with <strong>{tag}</strong>
			</p>
			<a href="/blog" class="inline">
				<svg
					class=`nav-arrow inline h-4 w-min transition-colors duration-300 cursor-pointer fill-red-500/50 hover:fill-red-500/100 ml-[1px] mb-[2px]`
					viewBox="0 0 1024 1024"
				>
					<g>
						<g>
							<path
								d="M195.2 195.2a64 64 0 0 1 90.496 0L512 421.504 738.304 195.2a64 64 0 0 1 90.496 90.496L602.496 512 828.8 738.304a64 64 0 0 1-90.496 90.496L512 602.496 285.696 828.8a64 64 0 0 1-90.496-90.496L421.504 512 195.2 285.696a64 64 0 0 1 0-90.496z"
							></path>
						</g>
					</g>
				</svg>
			</a>
		</div>

		<div
			class="grid grid-rows-[min-content_100%] items-start w-full gap-12 pb-48"
		>
			<div
				class="grid xl:grid-cols-1 grid-flow-row gap-[var(--guide-gutter)] sm:w-[var(--full-w)] lg:w-[var(--two-thirds-w)]"
			>
				{
					posts.map((post) => (
						<ProjectCard
							title={post.frontmatter.title}
							desc={post.frontmatter.description}
							date={post.frontmatter.date}
							url={post.url}
							tags={post.frontmatter.tags}
							imagePath={post.frontmatter.imagePath}
							imageAlt={post.frontmatter.imageAlt}
							accentColor={post.frontmatter.accentColor}
							wordCount={post.frontmatter.wordCount}
						/>
					))
				}
			</div>
		</div>
	</section>
</BaseLayout>
