---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogCard from "../components/BlogCard.astro";

const [featuredPost, ...allPosts] = (await Astro.glob("./blog/*.md")).sort(
	(a, b) => new Date(b.frontmatter.date) - new Date(a.frontmatter.date)
);
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
	<section id="blog-posts">
		<BlogCard
			title={featuredPost.frontmatter.title}
			description={featuredPost.frontmatter.description}
			date={featuredPost.frontmatter.date}
			url={featuredPost.url}
			tags={featuredPost.frontmatter.tags}
			imagePath={featuredPost.frontmatter.imagePath}
			imageAlt={featuredPost.frontmatter.imageAlt}
			wordCount={featuredPost.frontmatter.wordCount}
			type="featured"
		/>
		{
			allPosts.map((post) => (
				<BlogCard
					title={post.frontmatter.title}
					description={post.frontmatter.description}
					date={post.frontmatter.date}
					url={post.url}
					tags={post.frontmatter.tags}
					imagePath={post.frontmatter.imagePath}
					imageAlt={post.frontmatter.imageAlt}
					wordCount={post.frontmatter.wordCount}
					type="standard"
				/>
			))
		}
	</section>
</BaseLayout>

<style>
	#blog-posts {
		@apply grid sm:grid-cols-[1fr] md:grid-cols-2 lg:grid-cols-3 grid-flow-row w-[var(--full-w)] gap-[var(--guide-gutter)] pb-96;
	}
</style>