---
import type { ImageMetadata } from "astro";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import { extractOKLCHColors } from "../lib/extractOKLCHColors";

import CardTag from "@/components/CardTag.astro";
import NavigationButton from "@/components/NavigationButton.astro";

interface Props {
	id: string;
	title: string;
	description: string;
	date: string;
	url: string;
	tags: string[];
	imagePath: string;
	imageAlt: string;
	wordCount?: number;
	type: string;
}

const {
	id,
	title,
	description,
	date,
	url,
	tags,
	imagePath,
	imageAlt,
	type,
	wordCount,
} = Astro.props;

const formattedDate = new Date(date).toLocaleDateString("en-AU", {
	year: "numeric",
	month: "long",
	day: "2-digit",
});

const accentPalette: any = await extractOKLCHColors(imagePath);
const accent = accentPalette[0];

let readTime = 0;
if (wordCount) {
	readTime = Math.round(wordCount / 250);
}

const images = import.meta.glob<{ default: ImageMetadata }>(
	"/src/assets/blog/posts/*.{jpeg,jpg,png,gif,webp}",
);

if (!images[imagePath])
	throw new Error(
		`"${imagePath}" does not exist in glob: "src/assets/blog/posts/*"`,
	);
---

<div
	id=`blog-post-${id}`
	transition:name=`blog-post-${id}`
	class="blog-post card group flex selection:bg-[oklch(var(--accent-foreground))] selection:text-[oklch(var(--accent-background))] sm:flex-row md:flex-col [&[data-type='featured']]:flex-row [&[data-type='featured']]:md:col-span-2 [&[data-type='featured']]:lg:col-span-3"
	style="--accent-foreground: from oklch(var(--accent)) var(--shade-foreground) c
			h;
		--accent-background: from oklch(var(--accent)) var(--shade-background) c
		h;
		--accent-foreground-text: from oklch(var(--accent)) calc(var(--shade-foreground)*5) calc(c*0.25) h;"
	data-accent={accent}
	data-type={type}
>
	<a
		id=`blog-post-image-${id}`
		href={url}
		transition:name=`blog-post-image-${id}`
		class="z-1 cursor-pointer"
		data-loaded="false"
	>
		<Image
			src={images[imagePath]()}
			alt={imageAlt}
			onload="this.parentElement.dataset.loaded = 'true'"
			class="in-[&[data-type='featured']]:sm:w-col-half in-[&[data-type='featured']]:md:max-h-col-4 in-[&[data-type='featured']]:lg:max-h-col-5 in-[&[data-type='standard']]:sm:w-col-1 in-[&[data-type='standard']]:md:h-col-2 h-full w-full object-cover in-[&[data-type='featured']]:sm:min-h-full in-[&[data-type='standard']]:md:w-full"
		/>
	</a>
	<div
		id=`blog-post-content-${id}`
		class="p-gutter z-1 flex w-full flex-col transition-opacity duration-300 ease-in-out group-hover:opacity-100 in-[&[data-type='featured']]:justify-center in-[&[data-type='standard']]:h-full sm:opacity-100 md:opacity-80"
	>
		<small
			id=`blog-post-featured-${id}`
			class="text-foreground/50 mb-1.5 hidden font-mono text-xs tracking-widest uppercase in-[&[data-type='featured']]:block"
			>Featured Post</small
		>

		<a href={url}>
			<h1
				id=`blog-post-title-${id}`
				transition:name=`blog-post-title-${id}`
				class="sm:text-foreground/90 md:text-foreground/80 hover:text-foreground/90 mb-1.5 leading-[1.2] font-bold tracking-tight text-pretty transition-colors duration-300 ease-in-out sm:text-xl in-[&[data-type='featured']]:sm:text-2xl in-[&[data-type='featured']]:lg:text-3xl"
			>
				{title}
			</h1>
		</a>

		<small
			id=`blog-post-date-${id}`
			transition:name=`blog-post-date-${id}`
			class="sm:text-foreground/60 md:text-foreground/50 mb-2 font-mono text-xs tracking-widest uppercase transition-all duration-300 ease-in-out"
		>
			// {formattedDate}
		</small>

		<p
			id=`blog-post-description-${id}`
			transition:name=`blog-post-description-${id}`
			class="text-foreground/70 mb-4 text-sm text-pretty transition-all duration-300 ease-in-out sm:hidden md:line-clamp-3"
		>
			{description}
		</p>

		<div
			id=`blog-post-tags-${id}`
			transition:name=`blog-post-tags-${id}`
			class="place-content-start in-[&[data-type='standard']]:flex-grow"
		>
			{tags?.map((tag: any) => <CardTag text={tag} collection="blog" />)}
		</div>
		<a
			href={url}
			id=`blog-post-button-${id}`
			transition:name=`blog-post-button-${id}`
			class="navigation-button rounded-base sm:bg-foreground/5 text-foreground/70 relative mt-3 inline-flex w-fit cursor-pointer place-items-center gap-3 place-self-end px-4 py-2.5 pr-3.5 font-mono text-xs tracking-wider uppercase transition-all duration-300 ease-in-out hover:md:bg-[oklch(var(--accent)/0.25)] hover:md:text-[oklch(var(--accent-foreground))]"
		>
			<span>{readTime} min read</span>
			<Icon name="ui/right-arrow" class="h-3 w-auto" />
		</a>
	</div>
</div>

<script>
	const setPostAccents = () => {
		// Set post accents
		document.querySelectorAll<HTMLElement>(".blog-post").forEach((post) => {
			const currentTheme =
				document.documentElement.getAttribute("data-theme");

			if (currentTheme === "dark" || currentTheme === "light") {
				post.style.setProperty("--accent", `${post.dataset.accent}`);
			}
		});
	};

	// Attach initial event listeners
	setPostAccents();
	document.addEventListener("astro:after-swap", () => {
		setPostAccents();
	});
</script>
