---
import type { ImageMetadata } from "astro";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import { extractOKLCHColors } from "../lib/extractOKLCHColors";

import CardTag from "@/components/CardTag.astro";
import NavigationButton from "@/components/NavigationButton.astro";

interface Props {
	id: string;
	title: string;
	description: string;
	date: string;
	url: string;
	tags: string[];
	imagePath: string;
	imageAlt: string;
	wordCount?: number;
	type: string;
}

const {
	id,
	title,
	description,
	date,
	url,
	tags,
	imagePath,
	imageAlt,
	type,
	wordCount,
} = Astro.props;

const formattedDate = new Date(date).toLocaleDateString("en-AU", {
	year: "numeric",
	month: "long",
	day: "2-digit",
});

const accentPalette: any = await extractOKLCHColors(imagePath);
const accent = accentPalette[0];

let readTime = 0;
if (wordCount) {
	readTime = Math.round(wordCount / 250);
}

const images = import.meta.glob<{ default: ImageMetadata }>(
	"/src/assets/blog/posts/*.{jpeg,jpg,png,gif,webp}",
);

if (!images[imagePath])
	throw new Error(
		`"${imagePath}" does not exist in glob: "src/assets/blog/posts/*"`,
	);
---

<div
	id=`blog-post-${id}`
	transition:name=`blog-post-${id}`
	class="blog-post card group flex border-0 border-b selection:bg-[oklch(var(--accent-foreground))] selection:text-[oklch(var(--accent-background))] sm:flex-row md:flex-col [&[data-type='featured']]:flex-row [&[data-type='featured']]:border-t-0 [&[data-type='featured']]:after:w-full [&[data-type='featured']]:md:col-span-2 [&[data-type='featured']]:lg:col-span-3 [&[data-type='standard']]:border-r"
	style="--accent-foreground: from oklch(var(--accent)) var(--shade-foreground) c
			h;
		--accent-background: from oklch(var(--accent)) var(--shade-background) c
		h;
		--accent-foreground-text: from oklch(var(--accent)) calc(var(--shade-foreground)*5) calc(c*0.25) h;"
	data-accent={accent}
	data-type={type}
>
	<a
		id=`blog-post-image-${id}`
		href={url}
		transition:name=`blog-post-image-${id}`
		class="border-border-background m-gutter in-[&[data-type='featured']]:md-mr-0 in-[&[data-type='standard']]:md:mr-gutter z-1 cursor-pointer border sm:mr-0 in-[&[data-type='standard']]:md:mb-0"
		data-loaded="false"
		data-id="${id}"
	>
		<Image
			src={images[imagePath]()}
			alt={imageAlt}
			onload="this.parentElement.dataset.loaded = 'true'"
			class="in-[&[data-type='featured']]:sm:w-col-half in-[&[data-type='featured']]:md:max-h-col-4 in-[&[data-type='featured']]:lg:max-h-col-5 in-[&[data-type='standard']]:sm:w-col-1 in-[&[data-type='standard']]:md:h-col-2 border-border-background h-full w-full object-cover in-[&[data-type='featured']]:sm:min-h-full md:border-b md:opacity-80 in-[&[data-type='standard']]:md:w-full"
		/>
		<small
			class="text-border-foreground prevent-select text-2xs pointer-events-none line-clamp-1 px-2 py-1.5 text-right font-mono tracking-widest uppercase sm:hidden md:block"
			>// {imageAlt}
		</small>
	</a>
	<div
		id=`blog-post-content-${id}`
		class="p-gutter z-1 flex w-full flex-col transition-opacity duration-300 ease-in-out group-hover:opacity-100 in-[&[data-type='featured']]:justify-center in-[&[data-type='standard']]:h-full sm:opacity-100 in-[&[data-type='standard']]:sm:pt-4 md:opacity-90"
	>
		<div
			id=`blog-post-featured-${id}`
			class="pointer-events-none mb-4 hidden grow-1 items-end font-mono text-xs tracking-widest uppercase select-none in-[&[data-type='featured']]:flex"
		>
			<small
				class="text-border-foreground border-border-background border px-2.5 py-2"
				>Featured Post</small
			>
		</div>

		<a href={url}>
			<h1
				id=`blog-post-title-${id}`
				transition:name=`blog-post-title-${id}`
				class="sm:text-foreground/90 md:text-foreground/80 hover:text-foreground/90 mb-1.5 font-mono leading-[1.2] text-pretty uppercase transition-colors duration-300 ease-in-out sm:text-xl in-[&[data-type='featured']]:sm:text-2xl in-[&[data-type='featured']]:lg:text-3xl"
			>
				{title}
			</h1>
		</a>

		<small
			id=`blog-post-date-${id}`
			transition:name=`blog-post-date-${id}`
			class="sm:text-foreground/60 md:text-foreground/50 mb-2 font-mono text-xs tracking-widest uppercase transition-all duration-300 ease-in-out"
		>
			// {formattedDate}
		</small>

		<p
			id=`blog-post-description-${id}`
			transition:name=`blog-post-description-${id}`
			class="text-foreground/70 mb-4 text-sm text-pretty transition-all duration-300 ease-in-out sm:hidden md:line-clamp-3"
		>
			{description}
		</p>

		<div
			id=`blog-post-tags-${id}`
			transition:name=`blog-post-tags-${id}`
			class="tags-box grow-1 place-content-start in-[&[data-type='standard']]:flex-grow"
		>
			{tags?.map((tag: any) => <CardTag text={tag} collection="blog" />)}
		</div>
		<div id=`blog-post-button-wrapper-${id}` class="group mt-4 flex w-full">
			<div
				id=`blog-post-decoration-${id}`
				class="before:ease-flicker ease-flicker border-border-background relative grow-1 border border-r-0 bg-[repeating-linear-gradient(45deg,var(--border-background),var(--border-background)_2px,transparent_2px,transparent_8px)] bg-clip-content transition-all duration-200 group-has-[.navigation-button:hover]:border-[oklch(var(--accent-foreground))] before:absolute before:inset-0 before:bg-[repeating-linear-gradient(45deg,oklch(var(--accent-foreground)),oklch(var(--accent-foreground))_2px,transparent_2px,transparent_8px)] before:opacity-0 before:transition-all before:delay-100 before:duration-200 before:content-[''] group-has-[.navigation-button:hover]:before:opacity-100"
			>
			</div>
			<a
				href={url}
				id=`blog-post-button-${id}`
				transition:name=`blog-post-button-${id}`
				class="navigation-button rounded-base border-border-background text-foreground/80 ease-flicker relative inline-flex w-fit cursor-pointer place-items-center gap-3 place-self-end border px-4.5 py-3 font-mono text-xs tracking-wider uppercase transition-all duration-200 hover:bg-[oklch(var(--accent-foreground)/0.1)] hover:md:border-[oklch(var(--accent-foreground))] hover:md:text-[oklch(var(--accent-foreground))]"
			>
				<span class="">{readTime} min read</span>
				<Icon name="ui/right-arrow" class="h-3 w-auto" />
			</a>
		</div>
	</div>
</div>

<script>
	const setPostAccents = () => {
		console.log("COUNT");
		// Set post accents
		document.querySelectorAll<HTMLElement>(".blog-post").forEach((post) => {
			const currentTheme =
				document.documentElement.getAttribute("data-theme");

			if (currentTheme === "dark" || currentTheme === "light") {
				post.style.setProperty("--accent", `${post.dataset.accent}`);
			}
		});
	};

	// Attach initial event listeners
	setPostAccents();
	document.addEventListener("astro:after-swap", () => {
		setPostAccents();
	});

	const setTagRows = () => {
		console.log("TRIGGER");
		const tagBoxes = document.querySelectorAll(".tags-box");

		if (!tagBoxes) {
			return;
		}
		// First check applies relevant flex row classes
		tagBoxes.forEach((tagBox) => {
			const tags = tagBox.querySelectorAll(".card-tag");

			// Reset previous row classes
			tags.forEach((tag) => {
				for (let i = 0; i < 10; i++) {
					tag.classList.remove(`tag-row-${i + 1}`);
				}
			});

			if (tags.length === 0) return;

			let prevTop = tags[0].getBoundingClientRect().top;
			let currentRow = 1;

			tags.forEach((tag) => {
				const tagTop = tag.getBoundingClientRect().top;

				if (Math.abs(tagTop - prevTop) > 1) {
					currentRow++;
					prevTop = tagTop;
				}

				tag.classList.add(`tag-row-${currentRow}`);
			});
		});

		tagBoxes.forEach((tagBox: any) => {
			const tags: NodeListOf<HTMLElement> =
				tagBox.querySelectorAll(".card-tag");
			if (tags.length === 0) return;

			let rowLengths: number[] = new Array(10).fill(0);

			for (let i = 0; i < 10; i++) {
				tags.forEach((tag: HTMLElement) => {
					if (tag.classList.contains(`tag-row-${i + 1}`)) {
						rowLengths[i] += tag.clientWidth;
					}
				});
			}

			rowLengths.forEach((rowLength: number, index) => {
				const rowTags = tagBox.querySelectorAll(
					`.tag-row-${index + 1}`,
				);

				// Cancels loop if current row is empty, offsets margins on previous row
				if (rowLengths[index] === 0) {
					return;
				}

				// Clears border classes, add hover margin offsets
				rowTags.forEach((tag: any) => {
					tag.classList.remove("border-l");
					tag.classList.remove("border-r");
					tag.classList.remove("border-b");
					tag.classList.remove("border-t");

					// tag.classList.add("md:hover:-mb-[1px]");
					// tag.classList.add("md:hover:-mr-[1px]");
					// tag.classList.add("md:hover:-mt-[1px]");
				});

				// Sets left borders on all tags in row, and right border on the last row tag
				rowTags.forEach(
					(tag: any, i: number, arr: NodeListOf<HTMLElement>) => {
						tag.classList.add("border-l");
						if (i === arr.length - 1) {
							tag.classList.add("border-r");
							tag.classList.remove("md:hover:-mr-[1px]");
						}
					},
				);

				// Sets top border on first row
				if (index == 0) {
					rowTags.forEach((tag: any) => {
						tag.classList.add("border-t");
					});
				}

				// Sets bottom border if current row is longer than next row
				if (rowLengths[index] >= rowLengths[index + 1]) {
					rowTags.forEach((tag: any) => {
						tag.classList.add("border-b");
						tag.classList.remove("md:hover:-mb-[1px]");
					});
				}

				// Sets top border if current row is longer than previous row
				if (rowLengths[index] > rowLengths[index - 1]) {
					rowTags.forEach((tag: any) => {
						tag.classList.add("border-t");
						tag.classList.remove("md:hover:-mt-[1px]");
					});
				}

				if (rowLengths[index + 1] === 0) {
					rowTags.forEach((tag: any) => {
						tag.classList.add("border-b");
						tag.classList.remove("md:hover:-mb-[1px]");
						tag.classList.add("md:hover:pb-[8px]");
					});
				}
			});
		});
	};

	setTagRows();
	document.addEventListener("astro:after-swap", () => {
		setTagRows();
	});
	window.addEventListener("resize", () => {
		setTagRows();
	});
</script>
