---
interface Props {
	text: string;
	collection: string;
}
//  <!-- href=`/${collection}/tagged/${textCleaned}` -->
const { text, collection } = Astro.props;

const textCleaned = text.toLowerCase().replaceAll(" ", "-");
---

<a href=`/blog` class=`${textCleaned}-${collection}-tag card-tag hover`>
	<span class="card-tag-text-offset">{text}</span>
</a>

<style is:global>
	@reference "../styles/global.css";
	*:has(> .card-tag) {
		@apply flex h-min w-full flex-row flex-wrap gap-1;
	}

	.card-tag {
		@apply sm:text-foreground/35 sm:border-foreground/15 flex cursor-pointer place-items-center place-self-end overflow-hidden rounded-xs border bg-transparent font-mono text-xs tracking-wider whitespace-nowrap uppercase transition-all duration-300 ease-in-out sm:px-3 sm:py-1.5 md:px-2.5 md:py-1 md:hover:!border-[oklch(var(--accent-foreground)/0.75)] md:hover:!bg-transparent md:hover:!text-[oklch(var(--accent-foreground))];
	}
	/**/
	/* :not(.card) > * > * > .card-tag { */
	/* 	@apply md:bg-accent-foreground/5 md:text-accent-foreground/70; */
	/* } */
</style>
