---
interface Props {
	text: string;
	collection: string;
}
//  <!-- href=`/${collection}/tagged/${textCleaned}` -->
const { text, collection } = Astro.props;

const textCleaned = text.toLowerCase().replaceAll(" ", "-");
---

<a href=`/blog` class=`${textCleaned}-${collection}-tag card-tag hover`>
	<span class="card-tag-text-offset">{text}</span>
</a>

<style is:global>
	@reference "../styles/global.css";
	*:has(> .card-tag) {
		@apply flex h-min w-full flex-row flex-wrap;
	}

	.card-tag {
		@apply text-border-foreground border-border-background ease-flicker -mt-[1px] -ml-[1px] flex cursor-pointer place-items-center place-self-end overflow-hidden rounded-xs border bg-transparent px-2.5 py-2 font-mono text-xs tracking-widest whitespace-nowrap uppercase transition-all duration-300 hover:z-100 md:hover:!border-[oklch(var(--accent-foreground))] md:hover:!bg-transparent md:hover:!text-[oklch(var(--accent-foreground))];
	}
</style>
