---
interface Props {
	text: string;
	collection: string;
}

const { text, collection } = Astro.props;

const textCleaned = text.toLowerCase().replaceAll(" ", "-");
---

<a
	href=`/${collection}/tagged/${textCleaned}`
	class=`${textCleaned}-${collection}-tag card-tag hover`
>
	<span class="card-tag-text-offset">{text}</span>
</a>

<style is:global>
	*:has(> .card-tag) {
		@apply flex h-min w-full flex-1 flex-row flex-wrap-reverse place-content-end justify-start gap-1;
	}

	.card-tag {
		@apply flex place-items-center place-self-end overflow-hidden whitespace-nowrap rounded-lg px-3 py-1.5 font-mono !text-xs uppercase tracking-wide backdrop-blur-xl transition-all duration-300 sm:bg-[oklch(var(--foreground)/0.05)] sm:text-foreground/60 md:bg-foreground/5 md:text-foreground/50;
	}

	.card-tag.hover {
		@apply cursor-pointer hover:!bg-accent-primary-background hover:!text-accent-primary-foreground;
	}

	:not(.card) > * > * > .card-tag {
		@apply bg-accent-secondary-foreground/10 text-accent-secondary-foreground/60;
	}

	.card:hover .card-tag {
		@apply bg-accent-secondary-foreground/10 text-accent-secondary-foreground/60;
	}
</style>
