---
import "@/styles/global.css";

import Background from "@/components/Background.astro";
import Header from "@/components/Header.astro";
import MobileNav from "@/components/MobileNav.astro";
import Footer from "@/components/Footer.astro";
import { ClientRouter } from "astro:transitions";

import "overlayscrollbars/overlayscrollbars.css";
import {
	OverlayScrollbars,
	ScrollbarsHidingPlugin,
	SizeObserverPlugin,
	ClickScrollPlugin,
} from "overlayscrollbars";

const { pageTitle, pageDesc } = Astro.props;
---

<html lang="en" data-overlayscrollbars-initialize>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>

		<meta name="title" content={pageTitle} />
		<meta name="description" content={pageDesc} />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<link
			rel="preload"
			href="/fonts/InterVariable.woff2"
			as="font"
			type="font/woff2"
			crossorigin="anonymous"
		/>

		<link
			rel="preload"
			href="/fonts/JetBrainsMonoVariable.woff2"
			as="font"
			type="font/woff2"
			crossorigin="anonymous"
		/>

		<ClientRouter />
	</head>

	<body data-overlayscrollbars-initialize class="flex flex-col">
		<Background />
		<Header pageTitle={pageTitle} />
		<main class="self-center">
			<div
				id="top-marker"
				class="bg-transparent; pointer-events-none h-[1px] w-[1px]"
			>
			</div>
			<slot />
		</main>
		<MobileNav />
		<Footer />
	</body>
</html>

<!-- Open & Close Menus -->
<script>
	document.addEventListener("click", (e) => {
		const target = e.target as HTMLElement;
		console.log(
			document.querySelector(".menu-btn.open") &&
				!target.closest(".menu"),
		);

		// Open menu if menu button clicked
		if (target.closest(".menu-btn") && !target.closest(".menu")) {
			const menuBtn = target.closest(".menu-btn");
			const menu = menuBtn?.querySelector(".menu");

			if (menuBtn && menu) {
				menuBtn.classList.toggle("open");
				menu.classList.toggle("open");
			}

			e.stopPropagation();
		}

		// Close menu when clicking outside
		else if (
			document.querySelector(".menu-btn.open") &&
			!target.closest(".menu")
		) {
			document.querySelectorAll(".menu-btn.open").forEach((menuBtn) => {
				menuBtn.classList.remove("open");
				const menu = menuBtn.querySelector(".menu");
				if (menu) {
					menu.classList.remove("open");
				}
			});
		}
	});
</script>

<!-- Track Mouse Position -->
<script>
	const trackMouse = () => {
		let ticking = false;

		const elements = document.querySelectorAll(
			".card, pre, blockquote, .theme-drawer, .menu-btn",
		);

		document.addEventListener("mousemove", (e) => {
			let x = e.clientX,
				y = e.clientY;
			if (!ticking) {
				requestAnimationFrame(() => {
					document.documentElement.style.setProperty(
						"--mouse-x",
						`${x}px`,
					);
					document.documentElement.style.setProperty(
						"--mouse-y",
						`${y}px`,
					);

					elements.forEach((element: any) => {
						const rect = element.getBoundingClientRect();
						element.style.setProperty("--x", `${x - rect.left}px`);
						element.style.setProperty("--y", `${y - rect.top}px`);
					});

					ticking = false;
				});
				ticking = true;
			}
		});
	};

	trackMouse();

	document.addEventListener("astro:after-swap", () => {
		trackMouse();
	});
</script>

<!-- Scrollbars -->
<script>
	import "overlayscrollbars/overlayscrollbars.css";
	import {
		OverlayScrollbars,
		ScrollbarsHidingPlugin,
		SizeObserverPlugin,
		ClickScrollPlugin,
	} from "overlayscrollbars";

	const initScrollbar = () => {
		OverlayScrollbars(document.querySelector("body"), {});
	};

	initScrollbar();

	document.addEventListener("astro:after-swap", initScrollbar);
</script>

<!-- Theme Switching -->
<script astro-data-rerun>
	function loadTheme(document) {
		let currentTheme = localStorage.getItem("theme");

		if (!currentTheme) {
			localStorage.setItem("theme", "system");
			currentTheme = "system";
		}

		let appliedTheme = currentTheme;

		if (appliedTheme == "system") {
			appliedTheme = window.matchMedia("(prefers-color-scheme: light)")
				.matches
				? "light"
				: "dark";
		}

		document.documentElement.setAttribute("data-theme", appliedTheme);
		document.documentElement.className = "";
		document.documentElement.classList.add(`theme-${appliedTheme}`);

		document.querySelectorAll(".theme-drawer li").forEach((button) => {
			button.classList.remove("active");
			if (button.classList.contains(currentTheme))
				button.classList.add("active");
		});
	}

	function createToggles() {
		function setThemeFromButton(targetDocument, targetButton) {
			const newTheme = targetButton.getAttribute("class").split(" ")[0];
			localStorage.setItem("theme", newTheme);
			loadTheme(targetDocument);
		}

		document.querySelectorAll(".theme-drawer li").forEach((button) => {
			button.removeEventListener("click", () =>
				setThemeFromButton(document, button),
			);

			button.addEventListener("click", () =>
				setThemeFromButton(document, button),
			);
		});
	}

	document.addEventListener("astro:before-swap", (ev) => {
		loadTheme(ev.newDocument);
	});
	document.addEventListener("astro:page-load", loadTheme(document));

	createToggles();
	document.addEventListener("astro:after-swap", createToggles);
</script>

<!-- Add "On Scroll" Logic -->
<script is:inline>
	const header = document.querySelector("header");
	const setHeaderScrolled = () =>
		setTimeout(() => {
			header?.classList.toggle("scrolled", window.scrollY > 10);
		}, 150);

	document.addEventListener("scroll", setHeaderScrolled);
	document.addEventListener("astro:before-swap", setHeaderScrolled);
</script>

<script is:inline>
	const setBodyScrolled = () => {
		let body = document.querySelector("body");
		setTimeout(() => {
			body?.classList.toggle("scrolled", window.scrollY > 350);
		}, 150);
	};

	document.removeEventListener("scroll", setBodyScrolled);
	document.removeEventListener("astro:before-swap", setBodyScrolled);

	document.addEventListener("scroll", setBodyScrolled);
	document.addEventListener("astro:before-swap", setBodyScrolled);
</script>

<!-- Display Images When Loaded -->
<script>
	document.addEventListener("astro:page-load", () => {
		document.querySelectorAll("img").forEach((image) => {
			image.onload = () => image.classList.add("loaded");
			if (image.complete) image.classList.add("loaded");
		});
	});
</script>

<!-- Attach Skeletons To Loading Images -->
<script data-astro-rerun>
	document.querySelectorAll('div[data-loaded="false"]').forEach((element) => {
		element.classList.add("skeleton");

		const observer = new IntersectionObserver((entries) => {
			entries.forEach((entry) => {
				if (entry.isIntersecting) {
					element.classList.remove("skeleton");
					observer.unobserve(element);
				}
			});
		});

		observer.observe(element);
	});
</script>
