---
import BaseLayout from "../layouts/BaseLayout.astro";
import CardTag from "@/components/CardTag.astro";
import NavigationButton from "@/components/NavigationButton.astro";

import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

import { extractOKLCHColors } from "../lib/extractOKLCHColors";

const { frontmatter } = Astro.props;

const formattedDate = new Date(frontmatter.date).toLocaleDateString("en-AU", {
	year: "numeric",
	month: "short",
	day: "2-digit",
});

const accentPalette: any = await extractOKLCHColors(frontmatter.imagePath);
const accent = accentPalette[0];

const readTime = Math.round(frontmatter.wordCount / 250);

const images = import.meta.glob<{ default: ImageMetadata }>(
	"/src/assets/blog/posts/*.{jpeg,jpg,png,gif,webp}",
);

if (!images[frontmatter.imagePath]) {
	throw new Error(
		`"${frontmatter.imagePath}" does not exist in glob: "src/assets/blog/posts/*"`,
	);
}

const rawContent = Astro.slots.has("default")
	? await Astro.slots.render("default")
	: "";

const headingRegex = /<h([1-2])[^>]*>(.*?)<\/h\1>/gi;
const headings = [];
let match;

while ((match = headingRegex.exec(rawContent)) !== null) {
	const headingLevel = `${match[1]}`;
	const headingText = match[2].trim();
	headings.push([headingLevel, headingText]);
}
---

<BaseLayout pageTitle={frontmatter.title}>
	<div class="blog-page" data-accent={accent}>
		<div transition:name=`image${frontmatter.url}` class="blog-page-banner">
			<Image
				src={images[frontmatter.imagePath]()}
				alt={frontmatter.imageAlt}
			/>
			<NavigationButton direction="back" position="top-left" />
		</div>
		<div class="blog-page-body">
			<div class="blog-page-sidebar">
				<div class="blog-page-thumbnail">
					<Image
						src={images[frontmatter.imagePath]()}
						alt={frontmatter.imageAlt}
					/>
					<NavigationButton direction="back" position="top-left" />
				</div>
				<div class="blog-page-sidebar-info">
					<h1
						transition:name=`title-${frontmatter.url}`
						class="blog-page-title"
					>
						{frontmatter.title}
					</h1>
					<p
						transition:name=`date-${frontmatter.url}`
						class="blog-page-date"
					>
						{formattedDate} // {readTime} min read
					</p>
					<div
						transition:name=`tags-${frontmatter.url}`
						class="blog-page-tags"
					>
						{
							frontmatter.tags?.map((tag: any) => (
								<CardTag text={tag} collection="blog" />
							))
						}
					</div>
					<!-- <div class="blog-page-share"> -->
					<!-- 	<div class="blog-page-share-copy"> -->
					<!-- 		<span>Share</span> -->
					<!-- 		<a class="copy-link" -->
					<!-- 			><Icon name="social/copylink" /></a -->
					<!-- 		> -->
					<!-- 	</div> -->
					<!-- 	<div class="blog-page-share-socials"> -->
					<!-- 		<a class="x-link"><Icon name="social/x" /></a> -->
					<!-- 		<a class="threads-link" -->
					<!-- 			><Icon name="social/threads" /></a -->
					<!-- 		> -->
					<!-- 		<a class="bluesky-link" -->
					<!-- 			><Icon name="social/bluesky" /></a -->
					<!-- 		> -->
					<!-- 		<a class="reddit-link" -->
					<!-- 			><Icon name="social/reddit" /></a -->
					<!-- 		> -->
					<!-- 		<a class="linkedin-link" -->
					<!-- 			><Icon name="social/linkedin" /></a -->
					<!-- 		> -->
					<!-- 	</div> -->
					<!-- </div> -->
					<div class="blog-page-toc">
						<div class="scroll-progress"></div>
						<ul>
							{
								headings.map(([level, text]) => (
									<a
										href={`#${text.replace(/\s+/g, "-").toLowerCase()}`}
									>
										<li class={`toc-heading`}>{text}</li>
									</a>
								))
							}
						</ul>
					</div>
				</div>
			</div>
			<div class="post-markdown">
				<slot />
			</div>
		</div>
	</div>
</BaseLayout>

<style is:global>
	.blog-page {
		@apply relative flex w-[var(--full-w)] flex-col place-items-center content-start gap-[var(--guide-gutter)] place-self-center rounded;
	}

	.blog-page-banner {
		@apply absolute left-0 top-0 w-full overflow-hidden rounded transition-all duration-500 ease-in-out sm:h-[var(--three-w)] lg:h-[var(--five-w)];

		transition:
			height 100ms ease,
			opacity 500ms ease-in-out;
	}

	body.scrolled .blog-page-banner {
		@apply sm:opacity-100 lg:opacity-25;
	}

	.blog-page-banner img {
		@apply h-full w-full rounded object-cover opacity-80 transition-all duration-300 ease-in-out;
	}

	body.scrolled .blog-page-banner img {
		@apply lg:scale-110 lg:blur-xl;
	}

	.blog-page-body {
		--details-width: 50%;
		@apply grid max-w-full transition-all duration-300 ease-in-out sm:grid-cols-1 sm:gap-[calc(var(--guide-gutter)*1)] sm:pt-0 lg:grid-cols-[minmax(var(--details-width),1fr)_auto] lg:gap-[calc(var(--guide-gutter)*2)] lg:pt-[calc(var(--five-w)+(var(--guide-gutter)*0.5))];
	}

	body.scrolled .blog-page-body {
		--details-width: 330px;
	}

	.blog-page-sidebar {
		@apply flex h-min flex-col transition-all duration-500 ease-in-out sm:relative sm:top-0 lg:sticky lg:top-[calc(var(--nav-height)+(var(--guide-gutter)))] lg:pt-[var(--guide-gutter)];
	}

	.blog-page-sidebar-info {
		@apply inline-flex flex-col sm:place-items-start sm:px-[var(--guide-gutter)] lg:place-items-end lg:px-2;
	}

	.blog-page-thumbnail {
		@apply relative h-auto w-full overflow-hidden rounded transition-all duration-500 ease-in-out lg:place-items-end;
	}

	.blog-page-thumbnail .navigation-button {
		@apply opacity-0;
		transition:
			opacity 300ms 500ms ease-in-out,
			fill 300ms ease-in-out,
			stroke 300ms ease-in-out,
			color 300ms ease-in-out,
			background 300ms ease-in-out;
	}

	body.scrolled .blog-page-thumbnail .navigation-button {
		@apply sm:opacity-0 lg:opacity-100;
	}

	.blog-page-thumbnail img {
		@apply mb-[var(--guide-gutter)] h-[var(--three-w)] w-full rounded object-cover transition-all duration-500 ease-in-out sm:opacity-0 lg:-mt-[calc(var(--two-w)+var(--guide-gutter))] lg:opacity-0;

		transition:
			opacity 200ms ease-in-out,
			margin-top 300ms 100ms ease;
	}

	body.scrolled .blog-page-thumbnail img {
		@apply sm:h-[var(--three-w)] lg:mt-0 lg:opacity-80;

		transition:
			opacity 300ms 150ms ease-in-out,
			margin-top 300ms ease;
	}

	.blog-page-title {
		@apply z-20 mb-1.5 inline-block w-auto transform-none text-pretty font-bold tracking-tight text-foreground/90 transition-all duration-500 ease-in-out sm:text-left sm:text-3xl md:text-3xl lg:text-right lg:text-4xl;
	}

	body.scrolled .blog-page-title {
		@apply sm:text-3xl md:text-3xl;
	}

	.blog-page-date {
		@apply z-20 mb-2.5 w-auto font-mono text-xs uppercase tracking-widest text-foreground/50 transition-all duration-200 ease-in-out sm:text-left lg:text-right;
	}

	.blog-page-tags {
		@apply mb-3 w-auto flex-wrap sm:justify-start lg:justify-end;
	}

	.blog-page-share {
		@apply mb-5 inline-flex w-auto place-items-center rounded bg-foreground/0 px-1 font-mono uppercase tracking-wide text-foreground/50 duration-200 sm:h-9 sm:justify-start md:h-7 lg:justify-end;
	}

	.blog-page-share-copy {
		@apply inline-flex w-auto place-items-center gap-3 border-r border-r-foreground/20 pr-3.5;
	}

	.blog-page-share-socials {
		@apply inline-flex w-auto place-items-center gap-4 pl-3.5;
	}

	.blog-page-share span {
		@apply select-none text-xs tracking-wider;
	}

	.blog-page-share svg {
		@apply cursor-pointer duration-200 sm:text-xl md:text-lg;
	}

	.copy-link {
		@apply hover:text-foreground;
	}

	.x-link {
		@apply hover:text-foreground;
	}

	.threads-link {
		@apply hover:text-foreground;
	}

	.bluesky-link {
		@apply hover:text-[oklch(63.55%_0.1974_254.71)];
	}

	.reddit-link {
		@apply hover:text-[oklch(66.02%_0.2293_35.4)];
	}

	.linkedin-link {
		@apply hover:text-[oklch(54.58%_0.1301_242.27)];
	}

	.blog-page-toc {
		@apply relative z-50 w-auto overflow-hidden rounded px-0 text-xs transition-all duration-300 ease-in-out sm:mx-[var(--guide-gutter)] sm:hidden lg:mx-0 lg:inline-block;
	}

	body.scrolled .blog-page-toc {
		@apply px-2 lg:mx-2;
	}

	.scroll-progress {
		@apply absolute h-full w-[var(--radius)] bg-accent/25 opacity-0 transition-opacity duration-300 ease-in-out sm:left-0 sm:rounded-l-lg sm:rounded-r-none lg:left-auto lg:right-0 lg:rounded-l-none lg:rounded-r-lg;

		--scroll-progress: 0%;
	}

	body.scrolled .scroll-progress {
		@apply w-[var(--radius)] opacity-100;
	}

	.scroll-progress::after {
		content: "";
		@apply absolute top-0 h-full w-full rounded-[inherit] bg-accent sm:left-0 lg:left-auto lg:right-0;

		transform: translate(0, calc(-100% + var(--scroll-progress)));
	}

	.blog-page-toc ul {
		@apply flex flex-col gap-0.5 sm:place-items-start lg:place-items-end;
	}

	.blog-page-toc ul a {
		@apply inline-block px-0 leading-none transition-all duration-150 ease-in-out lg:text-right;
	}

	body.scrolled .blog-page-toc ul a {
		@apply px-2;
	}

	.blog-page-toc ul li {
		@apply inline-block rounded leading-normal transition-all duration-150 ease-in-out hover:bg-accent-background/50 hover:text-accent-foreground active:bg-accent-foreground/50 sm:text-left lg:text-right;
	}

	.toc-heading {
		@apply px-2.5 py-1.5 font-mono font-normal uppercase tracking-wide text-foreground/50;
	}

	.blog-page-nav-arrow {
		@apply absolute left-0 top-0 ml-[var(--guide-gutter)] mt-[var(--guide-gutter)] cursor-pointer place-self-end !fill-[oklch(var(--dark-bg)/0.5)] hover:!fill-[oklch(var(--dark-bg)/0.8)] sm:h-6 md:h-5;
	}

	.post-markdown {
		@apply relative z-50 w-full min-w-0 max-w-[var(--article-width)] transition-all duration-500 ease-in-out sm:px-[var(--guide-gutter)] sm:pt-0 sm:text-foreground lg:px-0 lg:pt-[calc(var(--guide-gutter)+4px)];
	}

	::-moz-selection {
		/* Code for Firefox */
		@apply bg-accent-background text-accent-foreground;
	}

	::selection {
		@apply bg-accent-background text-accent-foreground;
	}

	@keyframes headerHighlightFade {
		0% {
			@apply bg-accent/25 text-accent-foreground;
		}

		50% {
			@apply bg-accent/25 text-accent-foreground;
		}

		100% {
			@apply bg-transparent text-foreground;
		}
	}

	.post-markdown .header-highlight {
		animation: headerHighlightFade 2s ease !important;
	}

	.post-markdown p {
		font-size: 1rem;
		font-weight: normal;
		line-height: 1.5;
		margin-bottom: 1.5rem;
	}

	.post-markdown h1 {
		font-size: 2rem;
		font-weight: 700;
		margin-bottom: 0.7rem;
		scroll-margin-top: calc(var(--nav-height) + (var(--guide-gutter) * 2));
	}

	.post-markdown h2 {
		font-size: 1.25rem;
		font-weight: 500;
		margin-bottom: 0.8rem;
		scroll-margin-top: calc(var(--nav-height) + (var(--guide-gutter) * 2));

		@apply -ml-3 rounded py-1 pl-3 font-bold;
	}

	.post-markdown h3 {
		font-size: 0.9rem;
		font-weight: 500;
		margin-bottom: 0.7rem;
		scroll-margin-top: calc(var(--nav-height) + (var(--guide-gutter) * 2));
		@apply font-mono text-sm uppercase tracking-wider text-accent-foreground;
	}

	.post-markdown h4 {
		font-size: 1.3rem;
		font-weight: 700;
		scroll-margin-top: calc(var(--nav-height) + (var(--guide-gutter) * 2));
	}

	.post-markdown h5 {
		font-size: 1.3rem;
		font-weight: 700;
		scroll-margin-top: calc(var(--nav-height) + (var(--guide-gutter) * 2));
	}

	.post-markdown h6 {
		font-size: 0.9rem;
		font-weight: 700;
		scroll-margin-top: calc(var(--nav-height) + (var(--guide-gutter) * 2));
	}

	.post-markdown ul,
	.post-markdown ol {
		margin-bottom: 1.75rem;
		@apply list-inside;
	}

	.post-markdown ul > li {
		@apply mb-3 list-["---_"];
	}

	.post-markdown ::marker {
		@apply font-mono text-sm text-foreground/50;
	}

	@counter-style padded-numbers {
		system: numeric;
		symbols: "00" "01" "02" "03" "04" "05" "06" "07" "08" "09" "10";
		suffix: " // ";
	}

	.post-markdown ol > li {
		@apply mb-3 list-[padded-numbers];
	}

	.post-markdown ul ul {
		@apply ml-6 mt-2;
	}

	.post-markdown ul ul > li {
		@apply list-["--_"];
	}

	.post-markdown ul ul ul > li {
		@apply list-["-_"];
	}

	.post-markdown pre {
		word-wrap: break-word;

		@apply relative mb-8 whitespace-pre-wrap break-words rounded !bg-[oklch(var(--foreground)/0.025)] p-[var(--guide-gutter)] !font-code;
	}

	code {
		@apply !font-code text-sm;
	}

	.post-markdown pre::before,
	.post-markdown blockquote::before {
		content: "";
		mask: radial-gradient(
			400px circle at var(--x) var(--y),
			rgb(39, 26, 26) -50%,
			rgba(0, 0, 0, 0) 50%
		);

		@apply pointer-events-none absolute left-0 top-0 h-full w-full bg-accent-background opacity-0 transition-opacity duration-300 ease-in-out md:hover:opacity-25;
	}

	.post-markdown pre::after,
	.post-markdown blockquote::after {
		content: "";
		background: radial-gradient(
				200px circle at var(--x) var(--y),
				oklch(var(--accent)) 0%,
				transparent 100%
			)
			border-box;
		mask:
			linear-gradient(#fff 0 0) padding-box,
			linear-gradient(#fff 0 0);
		mask-composite: exclude;

		@apply pointer-events-none absolute inset-0 z-20 w-full rounded border border-transparent opacity-50 transition-opacity duration-300 ease-in-out md:hover:opacity-100;
	}

	.post-markdown blockquote::after {
		@apply !rounded-l-none;
	}

	.post-markdown hr {
		@apply mb-8 mt-12 border-foreground/10;
	}

	.post-markdown blockquote {
		border-left: var(--radius) solid oklch(var(--accent));
		@apply relative mb-6 rounded bg-[oklch(var(--foreground)/0.025)] p-4;
	}

	.post-markdown blockquote p {
		@apply text-sm text-foreground;
	}

	.post-markdown blockquote * {
		margin-bottom: 0rem;
	}

	.post-markdown blockquote > blockquote {
		margin-top: 1rem;
	}

	:root[data-theme="dark"] .astro-code,
	:root[data-theme="dark"] .astro-code span {
		color: var(--shiki-dark) !important;
		/* Optional, if you also want font styles */
		font-style: var(--shiki-dark-font-style) !important;
		font-weight: var(--shiki-dark-font-weight) !important;
		text-decoration: var(--shiki-dark-text-decoration) !important;
	}
</style>

<script is:inline>
	window.onscroll = function () {
		scrollProgress();
	};

	function scrollProgress() {
		let scroll =
			document.querySelector(".post-markdown").scrollTop ||
			document.documentElement.scrollTop;
		let height =
			document.documentElement.scrollHeight -
			document.documentElement.clientHeight;
		let scrolled = (scroll / height) * 100;
		document
			.querySelector(".scroll-progress")
			.style.setProperty("--scroll-progress", `${scrolled}%`);
	}
</script>

<script is:inline>
	document.querySelectorAll(".blog-page-toc a").forEach((anchor) => {
		anchor.addEventListener("click", function (e) {
			e.preventDefault();

			const targetId = this.getAttribute("href").slice(1);
			const targetElement = document.getElementById(targetId);

			if (targetElement) {
				targetElement.scrollIntoView({
					behavior: "smooth",
					block: "start",
				});

				const observer = new IntersectionObserver((entries) => {
					entries.forEach((entry) => {
						if (entry.isIntersecting) {
							targetElement.classList.remove("header-highlight");

							void targetElement.offsetWidth;

							targetElement.classList.add("header-highlight");

							setTimeout(() => {
								targetElement.classList.remove(
									"header-highlight",
								);

								console.log("Header test");
							}, 2000);

							observer.disconnect();
						}
					});
				});

				observer.observe(targetElement);
			}
		});
	});
</script>

<script data-astro-rerun>
	const attachEventListeners = () => {
		const page = document.querySelector(".blog-page");

		const html = document.querySelector("html");

		html.style.setProperty("--accent", `${page.dataset.accent}`);
	};

	attachEventListeners();

	document.addEventListener("astro:after-swap", () => {
		attachEventListeners();
	});
</script>
