---
import BaseLayout from "../layouts/BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
	<img src={frontmatter.imgUrl} width="300" alt={frontmatter.imgAlt} />
	<h1>{frontmatter.title}</h1>
	<p>{frontmatter.pubDate.toString().slice(0, 10)}</p>
	<p><em>{frontmatter.description}</em></p>
	<p>Written by: {frontmatter.author}</p>
	<slot />
	<slot />
</BaseLayout>
