---
import BaseLayout from "../layouts/BaseLayout.astro";

import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import { slide } from 'astro:transitions';

const { frontmatter } = Astro.props;

const formattedDate = new Date(frontmatter.date).toLocaleDateString("en-US", {
	year: "numeric",
	month: "long",
	day: "numeric",
});

const images = import.meta.glob<{ default: ImageMetadata }>(
	"/src/assets/blog/posts/*.{jpeg,jpg,png,gif,webp}"
);

if (!images[frontmatter.imagePath])
	throw new Error(
		`"${frontmatter.imagePath}" does not exist in glob: "src/assets/blog/posts/*"`
	);
---

<BaseLayout pageTitle={frontmatter.title}>
	<div transition:name=`container-${frontmatter.url}`
		class="bg-foreground/5 rounded-[var(--radius)] sm:w-[var(--full-w)] lg:w-[var(--two-thirds-w)] relative place-self-center"
	>
    <div class="blog-page-header" data-accent={frontmatter.accentColor}>
		<Image 
			src={images[frontmatter.imagePath]()}
			alt={frontmatter.imageAlt}
			class="w-full sm:h-20 md:h-28 lg:h-32 object-cover rounded-t-[var(--radius)] rounded-b-none blur-3xl -translate-y-10 pointer-events-none select-none opacity-60"
		/>
        <div 
			class="blog-page-accent rounded-t-[var(--radius)] absolute bottom-0 left-0 w-full h-full sm:opacity-75 md:opacity-100 transition-all duration-300"
			data-accent={frontmatter.accentColor}
		>
		</div>
		<a href="javascript:void(0);" onclick="history.back()">
			<svg
				class=`nav-arrow absolute top-0 left-0 h-6 w-auto transition-colors duration-300 cursor-pointer fill-foreground/20 hover:fill-[var(--page-accent)] place-self-end mt-[var(--guide-gutter)] ml-[var(--guide-gutter)]`
				viewBox="0 0 492 492"
			>
				<g>
					<g>
						<path
							d="M464.344,207.418l0.768,0.168H135.888l103.496-103.724c5.068-5.064,7.848-11.924,7.848-19.124
			c0-7.2-2.78-14.012-7.848-19.088L223.28,49.538c-5.064-5.064-11.812-7.864-19.008-7.864c-7.2,0-13.952,2.78-19.016,7.844
			L7.844,226.914C2.76,231.998-0.02,238.77,0,245.974c-0.02,7.244,2.76,14.02,7.844,19.096l177.412,177.412
			c5.064,5.06,11.812,7.844,19.016,7.844c7.196,0,13.944-2.788,19.008-7.844l16.104-16.112c5.068-5.056,7.848-11.808,7.848-19.008
			c0-7.196-2.78-13.592-7.848-18.652L134.72,284.406h329.992c14.828,0,27.288-12.78,27.288-27.6v-22.788
			C492,219.198,479.172,207.418,464.344,207.418z"
						></path>
					</g>
				</g>
			</svg>
		</a>
		<div
			class="post-details pb-[var(--guide-gutter)] border-b-[2px]
            border-b-foreground/5"
		>
			<h1 transition:name=`title-${frontmatter.url}`
                class="sm:text-2xl md:text-3xl font-bold mx-[var(--guide-gutter)] tracking-tight sm:leading-2xl md:leading-3xl transition-colors duration-300 text-foreground/90 transform-none sm:mb-0 md:mb-1 text-pretty">
				{frontmatter.title}
			</h1>
			<p  transition:name=`date-${frontmatter.url}`
				class="blog-post-date mx-[var(--guide-gutter)] mb-1">
				{formattedDate}
			</p>
			<div transition:name=`tags-${frontmatter.url}` class="flex w-full flex-wrap justify-start gap-1 align-self-end place-content-end mx-[var(--guide-gutter)]"
			>
				{
					frontmatter.tags?.map((tag: any) => (
						<a href=`/blog/tagged/${tag.toLowerCase().replaceAll(" ", " ")}`
							class:list={[
								tag.toLowerCase().replaceAll(" ", "-"),
								"blog-post-tag",
							]}
						>
							{tag}
						</a>
					))
				}
			</div>
            
		</div>
        </div>
		<div class="post-markdown mx-[var(--guide-gutter)] pt-[calc(var(--guide-gutter)*2)]">
			<slot />
		</div>
        
	</div>
    
        
    
    
</BaseLayout>

<script>
	const handleOnMouseMove = (e) => {
		const { currentTarget: target } = e;

		const rect = target.getBoundingClientRect(),
			x = e.clientX - rect.left,
			y = e.clientY - rect.top;

		target.style.setProperty("--mouse-x", `${x}px`);
		target.style.setProperty("--mouse-y", `${y}px`);
	};

	const attachEventListeners = () => {
		for (const post of document.querySelectorAll(".blog-page-header")) {
			(post as HTMLElement).onmousemove = (e) => handleOnMouseMove(e);
		}

		const posts = document.querySelectorAll(
			".blog-page-accent"
		) as NodeListOf<HTMLElement>;
		posts.forEach(function (el) {
			el.style.background = `radial-gradient(circle 250px at 0% 250%, ${el.dataset.accent} -50%, transparent 150%)`;
		});

		const postsBefore = document.querySelectorAll(
			".blog-page-header"
		) as NodeListOf<HTMLElement>;
		postsBefore.forEach(function (el) {
			el.style.setProperty(
				"--page-accent",
				`${el.dataset.accent as string}`
			);
			el.style.setProperty(
				"--page-accent-border",
				`${el.dataset.accent as string}55`
			);
			el.style.setProperty(
				"--page-accent-glow",
				`${el.dataset.accent as string}33`
			);
		});

	};

	attachEventListeners();

	document.addEventListener("astro:after-swap", () => {
		attachEventListeners();
	});

    // console.log("Script working")
    // function attachEventListeners() {
	// 	const post = document.querySelector(
	// 		".page-accent"
	// 	) as HTMLElement;
    //     if (post) {
    //         console.log(post.dataset.accent);
	// 	post.style.background = `radial-gradient(circle 200px at 100% 450%, ${post.dataset.accent} 0%, transparent 475%)`;
    //     }
	// };

	// attachEventListeners();

	// document.addEventListener("astro:after-swap", attachEventListeners);
    // document.addEventListener("DOMContentLoaded", attachEventListeners);
</script>