---
import BaseLayout from "@/layouts/BaseLayout.astro";
import BlogPost from "@/components/BlogPost.astro";

export async function getStaticPaths() {
	const allPosts = (await Astro.glob("../*.md")).sort(
		(a, b) => new Date(b.frontmatter.date) - new Date(a.frontmatter.date)
	);

	const uniqueTags = [
		...new Set(
			allPosts
				.map(
					(post: { frontmatter: { tags: any } }) =>
						post.frontmatter.tags
				)
				.flat()
		),
	];

	return uniqueTags.map((tag: any) => {
		const filteredPosts = allPosts.filter(
			(post: { frontmatter: { tags: string | any[] } }) =>
				post.frontmatter.tags.includes(tag)
		);
		return {
			params: { tag },
			props: { posts: filteredPosts },
		};
	});
}

const { tag } = Astro.params;
const {
	posts,
}: {
	posts: {
		url: string;
		frontmatter: {
			title: string;
			description: string;
			date: string;
			url: string;
			tags: string[];
			imagePath: string;
			imageAlt: string;
			accentColor: string;
            type: string;
		};
	}[];
} = Astro.props;
const filteredPosts = posts.filter((post) =>
	post.frontmatter.tags?.includes(tag)
);
---

<BaseLayout pageTitle={tag}>
	<section class="sm:w-[var(--full-w)] place-self-center">
		<div class="flex place-items-center gap-[calc(var(--guide-gutter)/2)]">
			<a href="javascript:void(0);" onclick="history.back()">
				<svg class="inline-back-arrow" viewBox="0 0 492 492">
					<g>
						<g>
							<path
								d="M464.344,207.418l0.768,0.168H135.888l103.496-103.724c5.068-5.064,7.848-11.924,7.848-19.124
			c0-7.2-2.78-14.012-7.848-19.088L223.28,49.538c-5.064-5.064-11.812-7.864-19.008-7.864c-7.2,0-13.952,2.78-19.016,7.844
			L7.844,226.914C2.76,231.998-0.02,238.77,0,245.974c-0.02,7.244,2.76,14.02,7.844,19.096l177.412,177.412
			c5.064,5.06,11.812,7.844,19.016,7.844c7.196,0,13.944-2.788,19.008-7.844l16.104-16.112c5.068-5.056,7.848-11.808,7.848-19.008
			c0-7.196-2.78-13.592-7.848-18.652L134.72,284.406h329.992c14.828,0,27.288-12.78,27.288-27.6v-22.788
			C492,219.198,479.172,207.418,464.344,207.418z"
							></path>
						</g>
					</g>
				</svg>
			</a>
			<span
				class="font-mono uppercase tracking-widest text-xs text-foreground/80 rounded-full bg-foreground/10 pl-3 pr-2.5 py-1 select-none"
				>{tag}<a href="/blog" class="ml-1"
					><svg
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						viewBox="0 0 24 24"
						stroke-width="3"
						stroke-linecap="round"
						stroke-linejoin="round"
						class="tag-close-button"
					>
						<path d="M 18 6 L 6 18 M 6 6 L 18 18"></path>
					</svg></a
				>
			</span>
		</div>
		<div class="grid items-start mt-[var(--guide-gutter)] gap-12 pb-48">
			<div
				class="sm:w-[--full-w] grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 grid-flow-row gap-[var(--guide-gutter)] place-self-center"
			>
				{
					posts.map((post) => (
						<BlogPost
							title={post.frontmatter.title}
							description={post.frontmatter.description}
							date={post.frontmatter.date}
							url={post.url}
							tags={post.frontmatter.tags}
							imagePath={post.frontmatter.imagePath}
							imageAlt={post.frontmatter.imageAlt}
							accentColor={post.frontmatter.accentColor}
							type="standard"
						/>
					))
				}
			</div>
		</div>
	</section>
</BaseLayout>
